<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <main>
        <form action="/" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}
                {{ for.username }}
            </p>
            <p>
                {{ form.name.label }}
                {{ for.name }}
            </p>
            <p>
                {{ form.email.label }}
                {{ for.email }}
            </p>
            <p>
                {{ form.password.label }}
                {{ for.password }}
            </p>
            <p>
                {{ form.password2.label }}
                {{ for.password2 }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </main>
</body>
</html>